<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table id="products" class="display" data-source="<%= products_path(format: "json") %>">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
